@media screen and (max-width: 1150px) {
  .find-us-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 1050px) {
  .p-2rem-1050px {
    padding: 2rem;
  }
  .upper-footer .flex {
    gap: 5rem;
  }
  /* Contact Page */
  .row-1-demo,
  .row-1-demo h3 {
    padding: 0;
  }
  .our-advisors-card {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 800px) {
  .p-0-800px {
    padding: 0;
  }
  .display-none-800px {
    display: none;
  }
  .display-flex-800px {
    display: flex;
  }
  .flex-column-800px {
    flex-direction: column;
  }
  .width-100-800px {
    max-width: 100% !important;
  }
  .width-100-800px-2 {
    width: 100% !important;
  }
  .gap-1-5r-800px {
    gap: 1rem;
  }
  .heading {
    padding-bottom: 0;
  }

  .button-container-hero {
    align-items: flex-start;
  }
  .lower-hero {
    margin-bottom: 0;
  }
  .our-solution-main-cont {
    padding: 5rem 0rem;
  }
  .leadership-cont-about *{
    text-align: center !important;
  }
  .tech-ul,
  .tech-img {
    grid-column: span 2;
  }
  .our-solution-img,
  .our-solution-ul,
  .our-solution-img-cont {
    grid-column: span 4;
    align-items: center;
    width: 90%;
    max-width: 90%;
  }
  .tech-ul {
    margin-bottom: 4rem;
    margin: auto;
  }
  .our-solution-container label {
    grid-column: span 2;
    white-space: nowrap;
  }
  .tech-img,
  .for-drivers-img {
    width: 100vw;
  }
  .mobile-auto-p,
  .mobile-auto-heading {
    padding-block: 4rem;
  }
  .auto-tect-section-mobile {
    display: flex;
  }
  .modes-content {
    order: -1;
  }
  .get-updates-section {
    grid-template-columns: 1fr 1fr;
    place-items: start;
  }
  .get-updates-section h3 {
    grid-column: span 2;
  }
  .email-update-cont,
  .email-update-cont * {
    width: 55vw !important;
  }
  .upper-footer {
    height: 100%;
  }
  .upper-footer .up-footer-row-4 {
    margin-bottom: 2rem;
  }
  /* Contact page */

  .wrapper {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr !important;
    row-gap: 2rem;
    column-gap: 0 !important;
    margin-bottom: 2rem;
  }
  .row-1-demo h3 {
    margin-block: 4rem;
    text-align: center;
  }
  .box-l-name {
    grid-row: 3;
  }
  .hero-button-2 {
    align-items: center;
  }
  .ready-to-explore-about {
    padding: 5rem;
  }
  .our-advisors-card .card {
    max-width: 100%;
  }
  .our-advisors-card {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .nav-logo {
    width: 220px;
  }
  .who-we-are-content {
    padding: 3rem 3rem;
  }
  .ready-to-explore-about {
    padding: 2rem;
  }
  .ready-to-explore{
    padding: 3rem 2rem;
  }
  .text-wrapper{
    display: none;
  }
}
